{% extends "base.html" %}
{% block content %}
<div class="card shadow mb-4 px-4 py-2">
    <div class="card-body px-2">
        <table id="datatable" class="display table table-bordered" style="width:100%">
            <thead>
                <tr class="bg-secondary text-white">
                    <th>Primeiro nome</th>
                    <th>Segundo nome</th>
                    <th>Email</th>
                    <th>Data de nascimento</th>
                </tr>
            </thead>
            <tbody>
                {% for contact in contacts_list.all %}
                <tr>
                    <td>{{contact.first_name}}</td>
                    <td>{{contact.last_name}}</td>
                    <td>{{contact.email}}</td>
                    <td>{{contact.birthday}}</td>
                </tr>
                {% endfor %}
            </tbody>
            <!-- <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                </tfoot> -->
        </table>
    </div>
</div>
{% endblock content %}