*~
.*.sw?
.DS_Store
.activate
.coverage
.directory
.env
.idea
.ipynb_checkpoints
.pytest_cache
.tox
db.sqlite3
MANIFEST
build
data
dist
eg_settings.py
staticfiles/
static_src/node_modules/